<% if current_user %>
  <div class="custom--navbar text-warning nav bg-black fs-3 border-top border-secondary">
      <%= nav_item(path: root_path, controller_target: 'main', icon: 'house') %>
      <%= nav_item(path: explore_path, controller_target: 'search', icon: 'search') %>
      <%= nav_item(path: notifications_path, controller_target: 'notifications', icon: 'bell') %>
      <%= nav_item(path: messages_path, controller_target: 'messages', icon: 'envelope') %>
  </div>
<% elsif current_user.nil? && !current_controller?(['sessions', 'passwords', 'registrations']) %>
  <div class="custom--navbar nav bg-black fs-3 p-3 gap-3 border-top border-secondary">
    <%= custom_button(content: "Sign in", path: new_user_session_path, button_class:"session--button text-warning bg-transparent") %>
    <%= custom_button(content: "Sign up", path: new_user_registration_path, button_class:"session--button text-white bg-warning")  %>
  </div>
<% end%>