<% provide(:title, "Reset password")%>
<div class="sign-container">
  <h1>Reset password</h1>
  <p>Enter your new password</p>
  <div class="sign-container-form">
    <%= form_for @user, url:password_reset_path(params[:id]), html: {class:"sign-form"} do |f|%>
      <%= hidden_field_tag :email, @user.email %>
      <%= f.label :password %>
      <%= f.password_field :password, class:"sign-input"%>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class:"sign-input"%>
      <% if @user.errors.any? %>
        <span class="sign-error"><%= @user.errors.full_messages[0] %> </span>
      <% end %>
      <%= f.submit "Change password", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
