<section class="settings-account-container">
  <%= render 'settings' %>
  <section class="settings-account-section">
    <div class="settings-section-description">
      <h2>Account Information</h2>
      <p>Here you can manage and modify your data, keep in mind that,
        to make any changes to sensitive data, you will be asked to authenticate again.</p>
    </div>
    <div class="edit_gravatar">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Change</a>
    </div>
    <div class="settings-account-form">
      <%= form_for(@user) do |f|%>
        <%= f.label :name, class:"field-container" do%>
          <h3>Update name</h3>
          <%= f.text_field :name%>
        <%end%>
        <%= f.label :email, class:"field-container" do%>
          <h3>Update email</h3>
          <%= f.email_field :email%>
        <%end%>
        <div class="fields-container">
          <h3>Update password</h3>
          <%= f.label :password, class:"field-container" do%>
            <span>New password</span>
            <%= f.password_field :password%>
          <%end%>
          <%= f.label :password_confirmation, class:"field-container" do%>
            <span>Confirm password</span>
            <%= f.password_field :password_confirmation%>
          <%end%>
        </div>
        <span class="msg-error"><%= @user.errors.full_messages[0] %> </span>
        <%= f.submit "Save Changes", class: "btn btn-success save-changes" %>
      <% end %>
    </div>
  </section>
</section>
