<% provide(:title, "Sign up")%>
<div class="signup-container">
  <h1>Sign up</h1>
  <p>Register and start using Tini Tweety</p>
  <div class="signup-container-form">
    <%= form_for(@user) do |f|%>
      <%= f.label :name%>
      <%= f.text_field :name, class:"signup-input"%>
      <%= f.label :email%>
      <%= f.email_field :email, class:"signup-input"%>
      <%= f.label :password%>
      <%= f.password_field :password, class:"signup-input"%>
      <%= f.label :password_confirmation, "Confirmation"%>
      <%= f.password_field :password_confirmation, class:"signup-input"%>
      <span class="signup-error"><%= @user.errors.full_messages[0] %> </span>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
