<% provide(:title, "Sign up")%>
<div class="sign-container">
  <h1>Sign up</h1>
  <p>Register and start using Tini Tweety</p>
  <div class="sign-container-form">
    <%= form_for(@user, html: {class:"sign-form"}) do |f|%>
      <%= f.label :name%>
      <%= f.text_field :name, class:"sign-input"%>
      <%= f.label :email%>
      <%= f.email_field :email, class:"sign-input"%>
      <%= f.label :password%>
      <%= f.password_field :password, class:"sign-input"%>
      <%= f.label :password_confirmation, "Confirmation"%>
      <%= f.password_field :password_confirmation, class:"sign-input"%>
      <span class="sign-error"><%= @user.errors.full_messages[0] %> </span>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
    <span>Already registered? <%= link_to "Sign in", login_path%> now!</span>
  </div>
</div>
