<% @user ||= current_user %>
<div class="user-stats">
  <%= link_to user_path(@user) do%>
    <span><strong>📰 <%= pluralize(@user.posts.count.to_s, "post")%></strong></span>
  <%end%>
  <div class="user-follow-data">
    <%= link_to followers_user_path(@user) do %>
      <span>
        <strong>🫂 <%= @user.followers.count%></strong> Followers.
      </span>
    <%end%>
    <%= link_to following_user_path(@user) do %>
      <span>
        <strong>&nbsp;<%= @user.following.count%></strong> Following
      </span>
    <%end%>
  </div>
</div>
