<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body data-controller='bootstrap' class="bg-black">
    <%= render 'components/alert'%>
    <%= render 'components/header' %>
    <main>
      <%= yield %>
      <%= render "components/navbar" %>
    </main>
  </body>
</html>
